%h2 Group editor

%p
  Specify your employees' memberships below.
  = submit_tag "Save!"


= form_tag group_editor_url, :method => :post, :name => "memberships" do

%table#group-editor

  %th Name
  
  -for group in @groups
  %th= h group.name.humanize
  - end

  - for employee in @employees
  %tr
    %td{:class => "employee-name"}=h employee.name
    - @groups.each do |group|
    %td= check_box_tag "membership_#{employee.id}_#{group.id}", '1', employee.groups.include?(group)
    -end
  - end

= submit_tag "Save!"

-end

/= link_to 'New group', new_group_path
