- form_for employee do |f|

%p
  %span.on-vacation
    = f.check_box :on_vacation
    %label{:for => 'employee_on_vacation'} This person is on vacation right now.

%p
  %label{:for => "employee_name"} Name
  %br
  = f.text_field :name

%p
  %label{:for => "employee_extension"} Extension
  %br
  = f.text_field :extension

%p
  %label{:for => "employee_mobile_number"} Mobile number
  %br
  = f.text_field :mobile_number

%p
  %label{:for => "employee_email"} Email
  %br
  = f.text_field :email


%p
  %label{:for => "employee_time_zone"} Time zone
  %br
  = select_timezone

%p
  = f.submit button_text

- end