%h2 Editing employee

= error_messages_for :employee

- form_for(@employee) do |f|
%p
  %b Name
  %br
  = f.text_field :name, :options => {:id => "ohai", }

%p
  %b Extension
  %br
  = f.text_field :extension

  %p
    %b Time zone
    %br
    = time_zone_select 'employee', 'time_zone', TZInfo::Timezone.all.sort, :model => TZInfo::Timezone, :default => "America/Los_Angeles"

%p
  = f.submit "Update"
- end

= link_to 'Show', @employee
|
= link_to 'Back', employees_path
|
= link_to 'Delete', @employee, :confirm => "Are you sure you wish to delete employee #{h(@employee.name)} permanently?", :method => :delete
