%h2 Editing employee

= error_messages_for :employee

= render :partial => "employee_editor", :locals => {:button_text => "Update", :employee => @employee}

= link_to 'Show', @employee
|
= link_to 'Back', employees_path
|
= link_to 'Delete', @employee, :confirm => "Are you sure you wish to delete employee #{h(@employee.name)} permanently?", :method => :delete
