!!! XML
!!! Strict
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "EngineYard Phone System: #{controller.action_name}"
    = stylesheet_link_tag "ey"
    = javascript_include_tag :defaults
    
  %body
  
    %h1= link_to "Phone System", root_url

    #container
    
      %p{:style => "color: green"}= flash[:notice]
      
      = yield